@model IEnumerable<xmkgl.Models.xmcsmx>
@{
    ViewBag.Title = "chakan_csmx";
}
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th nowrap>
                @Html.Label("序号")
            </th>
            <th nowrap>
                @Html.Label("年度")
            </th>
            <th nowrap>
                @Html.Label("项目任务明细")               
            </th>            
            <th nowrap>
                @Html.Label("申报数(千元)")
            </th>
            <th nowrap>
                @Html.Label("成本标准")
            </th>
            <th nowrap>
                @Html.Label("工作量")
            </th>
            <th nowrap>
                @Html.Label("单位")
            </th>
            <th nowrap>
                @Html.Label("测算依据说明")
            </th>
        </tr>
    </thead>
    <tbody>
        @{ int hao = 1; decimal shenbaoshu = 0; }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @hao
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.suoshuniandu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.xiangmumingxi)
                </td>                
                <td>
                    @Html.DisplayFor(modelItem => item.shenbaoshu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.chengbenbiaozhun)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gongzuoliang)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gzl_danwei)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.yijushuoming)
                </td>
            </tr>
            hao = hao + 1; shenbaoshu = shenbaoshu + item.shenbaoshu; 
        }
    </tbody>
</table>

<div style="text-align:center;margin-top:20px;font-size:medium;">采购金额合计：@shenbaoshu (千元)</div>
